<h1>Mechanic's Show Page</h1>

<p>Mechanic Name:<%= @mechanic.name%></p>
<p>Years Experience:<%= @mechanic.years_experience%></p>
<h3>These are <%=@mechanic.name%>'s open rides listed most thrilling to least thrilling </h3>
<p> <% @mechanic.rides_by_thrill.each do |ride| %></p>
<p> <% if ride.open? %></p>
<p> <%= ride.name %></p>
<p> <% end %></p>
<p> <% end %></p>