<h1>Amusement Park's Show Page<h1>

<p> <%= @amusementpark.name %></p>
<p> <%= @amusementpark.admission_cost %></p>
<p> <% @amusementpark.rides_alpha_ordered.each do |ride| %></p>
<p> <%= ride.name %></p>
<p> <% end %></p>

